<div>
    <mat-toolbar color="primary" class="d-flex align-item-center justify-content-between">
        <div class="p-3 d-flex flex-row justify-content-between align-item-center">
            <span><img src="./../../../assets/logo.webp" height="25px" width="25px"></span>
            <a class="h3 text-uppercase ms-2 text-white text-decoration-none" routerLink="dashboard">org farm</a>
            <a href="javascript:;" routerLink="dashboard" class="text-white ms-3 text-decoration-none">Dashboard</a>
            <a href="javascript:;" routerLink="fruits" class="text-white ms-3 text-decoration-none">Fruits</a>
            <a href="javascript:;" routerLink="vegetables" class="text-white ms-3 text-decoration-none">Vegetables</a>
            <a href="javascript:;" routerLink="flowers" class="text-white ms-3 text-decoration-none">Flowers</a>
        </div>
        <div class="p-3 float-end d-flex flex-row justify-content-between align-item-center">
           <div class="d-flex flex-row justify-content-between align-item-center">
            <a class="bg-none text-decoration-none mt-1" [matMenuTriggerFor]="menu">Menu</a>
            <mat-icon fontIcon="keyboard_arrow_down" class="mt-2 bg-none" [matMenuTriggerFor]="menu" ></mat-icon>
            <mat-menu #menu="matMenu">
                <button routerLink="wishlist" mat-menu-item>Wishlist</button>
                <button routerLink="orders" mat-menu-item>My Order</button>
            </mat-menu>
           </div>
            <a href="javascript:;" routerLink="cart" class="text-white text-decoration-none">
                <button mat-icon-button class="example-icon bg-transparent border-0 text-white text-capitalize"
                    aria-label="Example icon-button with share icon">
                    <mat-icon>shopping_cart</mat-icon>
                </button>
            </a>
            <a href="javascript:;" routerLink="auth/signup">
                <button mat-icon-button class="example-icon bg-transparent border-0 text-white pe-3"
                    aria-label="Example icon-button with share icon">
                    <mat-icon>login</mat-icon>
                </button>
            </a>
        </div>
    </mat-toolbar>
</div>