.bg-color{
    background-color: #fafafa;
}
.orders-container{
    margin: 20px auto;
}
.img-container{
    max-width: 120px;
}
.name-container{
    display: flex;
    flex-direction: column;   
}
.offer-container{
    color: #fd7e14;
}
.fw-1{
    font-weight: 500;
}
.btn-cancle{
    text-transform: uppercase;

}
.msg{
    font-weight: 700;
    font-size: 20px;
}