<div class="container">
    <div class="d-flex flex-column pt-5">
        <section class="title">
            <h1 class="heading">PAYMENT METHODS</h1>

        </section>
        <section>
            <div class="content">
                <p class="heading-para">We offer various payment methods in the Org Farm online shop:</p>
                <div class="methods-pay">
                    <h2 class="type-pay">Credit And Debit Cards:</h2>
                    <p class="heading-para">We accept payments from all major credit and debit card networks like Visa,
                        Mastercard and RuPay.</p>
                </div>
                <div class="methods-pay">
                    <h2 class="type-pay">Netbanking:</h2>
                    <p class="heading-para">We accept payments through 50+ banks including SBI, ICICI Bank, HDFC Bank,
                        Axis Bank, Kotak Bank and Yes Bank. The bank page opens in a pop-up window so you can easily
                        come back to our website, assured of a great shopping experience.</p>
                </div>
                <div class="methods-pay">
                    <h2 class="type-pay">Payment Wallets & UPI:</h2>
                    <p class="heading-para">We allow our customers to pay via popular online wallets like Mobikwik,
                        Freecharge and Ola Money. You can approve payments using a one-time password (OTP) directly on
                        checkout page for a seamless experience.</p>
                </div>
                <div class="methods-pay">
                    <h2 class="type-pay">Cash On Delivery:</h2>
                    <p class="heading-para">Cash on Delivery can be used as a payment method for orders shipping all
                        over India. There will be an additional fee of Rs. 150 that will be charged for every cash on
                        delivery order.</p>
                </div>
            </div>
        </section>
    </div>
</div>