.heading{
    font-size: 1.8rem;
    text-transform: uppercase;
}
.heading-para{
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    font-size: 1.2rem;
    text-align: justify;
    letter-spacing: 2px;
    line-height: 1.5;
}
.methods-pay{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.type-pay{
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.75rem;

}
