<div class="container">
    <div class="d-flex flex-column pt-5">
        <section class="title">
            <h1 class="heading">shipping & return policy</h1>
        </section>
        <section class="content">
            <div class="olist">
                <ol type="I" class="list">
                    <li>
                        <h2>Shipping</h2>
                        <p class="heading-para">
                            We strive to deliver items purchased from Org Farm.com in excellent condition and within
                            the shortest time possible. Shipping is entirely free for prepaid purchase of items through
                            the website. A charge of Rs.150 is applicable for cash-on-delivery (COD) orders.
                        </p>
                    </li>
                    <li>
                        <h2>MODIFYING SHIPPING ADDRESS AFTER PLACING ORDER</h2>
                        <p class="heading-para">
                            The shipping address for an order can be modified before the order gets processed and
                            dispatched. The customer may update it under the Change Address section which is available
                            under the My Order section of the website.
                        </p>
                    </li>
                    <li>
                        <h2>CANCELLED ORDERS AND REFUNDS</h2>
                        <p class="heading-para">
                            Once an order is shipped, the cancel option will not be available on the website. In case of
                            prepaid orders for which payment has been made via credit/debit card, net banking or My
                            Wallet on the website, the customer will receive complete refund in the source account
                            within 7 to 10 days of order cancellation.
                        </p>
                    </li>
                    <li>
                        <h2>RETURNS & EXCHANGES POLICY</h2>
                        <p class="heading-para">
                            A customer may return/exchange unworn shoes on Org Farm.com for any valid reason, within
                            15 hours from the date of delivery of the product. Any return/exchange request after the
                            specified period will not be valid. Any unworn shoes can be exchanged due to incorrect size
                            or receipt of a defective item, and the customer will be provided with a replacement of the
                            item, free of any shipping charges. Once an exchange request is initiated, our delivery
                            representative will pick up the original item and will deliver the new item at a later date.
                        </p>
                        <p class="heading-para">These steps will be part of the returning/exchanging of items:</p>
                        <ul class="list-none">
                            <li class="heading-para">Pick-up: In most locations, we offer a free pick-up service. You
                                will see a pick-up option when you submit a return request.</li>
                            <li class="heading-para">Self-shipping: A customer may also opt to do self-shipping of items
                                to be returned/exchanged, subject to the Returns and Exchanges Policy.</li>
                            <li class="heading-para">Refund: Once the item has been received at our warehouse and has
                                passed a mandatory quality check, the refund will be initiated. The refund will be done
                                through the customer's bank account in which case he/she should select the account to
                                which refund should be made. In case of COD orders being returned, the same should be
                                done by providing details of one's bank account.</li>
                        </ul>
                    </li>
                    <li>
                        <h2>UNDELIVERABLE ORDERS</h2>
                        <p class="heading-para">An order may be undeliverable if:</p>
                        <ul>
                            <li class="heading-para">the package is damaged in transit.</li>
                            <li class="heading-para">delivery is refused by the recipient.</li>
                            <li class="heading-para">the address given is incorrect.</li>
                            <li class="heading-para">there is no recipient to accept the order.</li>
                        </ul>
                        <p class="heading-para">Our courier partners will not be responsible for retrieval and delivery
                            of undelivered orders. All undeliverable orders will be returned to the source and a full
                            refund will be processed if the payment has already been made online. If a customer wishes
                            to re-purchase the item, he/she may re-order it through the website.</p>
                    </li>
                    <li>
                        <h2>TERMS & CONDITIONS</h2>
                        <ol class="list-decimal">
                            <li class="heading-para">All items that are being returned or exchanged must be unused and
                                in their original condition with all tags and packaging intact.</li>
                            <li class="heading-para">Under the exchange policy, only size exchanges are allowed.
                                Org Farm takes utmost care to portray colours correctly on the website. Hence colour
                                exchanges are not allowed.</li>
                            <li class="heading-para">All exchanges are subject to stock availability and to the
                                customer’s address being serviceable for an exchange.</li>
                            <li class="heading-para">If a returned/exchanged item does not pass the quality check, it
                                will be shipped back to the customer.</li>
                            <li class="heading-para">If a COD order is returned, the COD charges of the order will not
                                be refunded.</li>
                            <li class="heading-para">If a prepaid order is lost or undelivered to the preferred
                                location, the customer will receive a complete refund of the order amount*.</li>
                            <li class="heading-para">In case of exchanges, the customer has to ensure that the original
                                item gets picked up from the same address which has been selected for the delivery of
                                the new item.</li>
                            <li class="heading-para">If a customer wishes to exchange the original item for a different
                                item altogether, the original item will have to be returned to obtain a refund and the
                                new item will have to be purchased separately.</li>
                            <li class="heading-para">In case any purchased item comes with a free gift and if a customer
                                wishes to return the main item, the free product will have to be returned as well.</li>
                            <li class="heading-para">Org Farm will not be liable for any items returned by mistake.
                                In circumstances where an additional or a different item is returned by mistake,
                                Org Farm will not be accountable for misplacement or replacement of the item, and is
                                not responsible for its delivery back to the customer.</li>
                            <li class="heading-para">If a customer opts to exchange/return an item through
                                self-shipping, the item has to be packed securely to prevent any loss or damage during
                                transit. For all self-shipped exchanges/returns, Org Farm recommends using a
                                reliable courier service.</li>
                            <li class="heading-para">If a customer opts to exchange/return an item through
                                self-shipping, the shipping cost will be reimbursed, subject to:
                                <ol class="list-alpha">
                                    <li class="heading-para">the returned item having met our Returns and Exchanges
                                        Policy,</li>
                                    <li class="heading-para">the returned item having passed the quality check at the
                                        warehouse, and</li>
                                    <li class="heading-para">the image of the courier receipt being shared by the
                                        customer and validated by Org Farm.</li>
                                </ol>
                            </li>
                            <li class="heading-para">For items brought during sale/discount being returned, the refund
                                amount would reflect the value of the item after applying all offers, and not the
                                original value of the item.</li>
                            <p class="heading-para">*Order amount/value is calculated after applying discounts/GST or
                                any other applicable charges.</p>
                        </ol>
                    </li>
                </ol>
            </div>
        </section>
    </div>
</div>