.heading{
    font-size: 1.8rem;
    text-transform: uppercase;
}
.olist{
    margin-top: 1rem;
    margin-bottom: 1ram;
}
.list{
    font-size: 1.25rem;
}
.heading-para{
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    text-align: justify;
    letter-spacing: 2px;
    line-height: 1.5;
}
.list-decimal{
    list-style: decimal;
}
.list-alpha{
    list-style: lower-alpha;
}