<div class="container">
    <div class="d-flex flex-column pt-5">
        <div class="d-flex justify-content-center">
            <h2 class="text-center text-success">Organic farmers and food producers grow and produce food without using
                synthetic
                chemicals such as
                pesticides and artificial fertilisers. They do not use genetically modified (GM) components or expose
                food to irradiation. Animal welfare and environmental sustainability are important issues for organic
                farmers.</h2>
        </div>
        <div class="farm-image">
            <div class="pt-4">
                <h1 class="text-uppercase heading-farm fs-2">our farms</h1>
            </div>
            <div>
                <app-carousel [images]="images" [autoSlide]="true"></app-carousel>
            </div>
        </div>
        <div class="d-flex flex-column justify-content-center">
            <h2 class="pt-4 para">In 2019, 19.6 million jobs were made possible by food-related
                businesses and agriculture. According to the Bureau of Labor Statistics (BLS), organic acreage more than
                quadrupled over the past few decades. As customers preferences for healthy foods grown responsibly
                increases, the organic industry is going to bring with it even more career opportunities.</h2>
            <h2 class="mt-1 para">And while food sells itself, you’ll still need an enticing marketing slogan to promote your
                family farm or agricultural company. Below are more than 200 taglines you can use to market your organic
                farming, urban farming, and other agriculture business organized by theme.</h2>
        </div>
        <div class="farm-image">
            <div class="pt-4">
                <h1 class="text-uppercase heading-farm fs-2">Meet Our Leaders</h1>
            </div>
            <div>
                <app-leaders [leaders]="leaders"></app-leaders>
            </div>
        </div>
        <div class="d-flex flex-column justify-content-center">
            <h2 class="pt-4 para">A leader is someone who is able to bring people together and help them work together to
                achieve a common goal. Leaders have the ability to motivate their team members and get them to work
                together towards a common goal. They also have the ability to make decisions that will affect the entire
                team. A good leader is able to balance their own needs with those of their team members. In business, it
                is important to have a clear leader who sets the direction for the company and ensures that everyone
                follows. This leader should be able to communicate effectively and set goals that are achievable for
                everyone in the company. They should also be able to motivate their team members and get them up to
                speed on what is needed to meet the goal.</h2>
        </div>
    </div>
</div>