<div class="footer-main-container">
    <div class="footer-iner-container">
        <div class="d-flex flex-row w-100 justify-content-around align-items-start p-5">
            <div class="about d-flex flex-column justify-content-around align-items-start">
                <h5 class="content-heading">about</h5>
                <a href="javascript:;" routerLink="about-us" class="content-links">About Us</a>
            </div>
            <div class="about d-flex flex-column justify-content-around align-items-start">
                <h5 class="content-heading">consumer policy</h5>
                <a href="javascript:;" routerLink="terms&condition" class="content-links">terms & conditions</a>
                <a href="javascript:;" routerLink="privacy-policy" class="content-links">privacy policy</a>
                <a href="javascript:;" routerLink="payment-methods" class="content-links">payment methods</a>
                <a href="javascript:;"  routerLink="return-policy" class="content-links">shipping & return policy</a>
            </div>
            <div class="about d-flex flex-column justify-content-around align-items-start">
                <h5 class="content-heading">Mail Us:</h5>
                <p class="addrs">org farm Private Limited,</p>
                <p class="addrs">Buildings Alyssa, Begonia &</p>
                <p class="addrs">Clove Embassy Tech Village,</p>
                <p class="addrs">Outer Ring Road, Devarabeesanahalli Village,</p>
                <p class="addrs">Bengaluru, 560103,</p>
                <p class="addrs">Karnataka, India</p>
            </div>
            <div class="about d-flex flex-column justify-content-around align-items-start">
                <h5 class="content-heading">Registered Office Address:</h5>
                <p class="addrs">org farm Private Limited,</p>
                <p class="addrs">Buildings Alyssa, Begonia &</p>
                <p class="addrs">Clove Embassy Tech Village,</p>
                <p class="addrs">Outer Ring Road, Devarabeesanahalli Village,</p>
                <p class="addrs">Bengaluru, 560103,</p>
                <p class="addrs">Karnataka, India</p>
                <p class="addrs">CIN : U51109KA2012PTC066107</p>
                <p class="addrs"> Telephone:<a href="javascript:;" class="telephone"> 044-45614700</a></p>
                
            </div>
        </div>
    </div>
</div>
