.footer-main-container{
    background-color: #172337;
    width: 100%;
    border-top: 1px solid #ddd;
    margin-top: 30px
}
.footer-iner-container{
    width: 100%;
    margin: 0 auto;
    text-align: left;
}
.content-heading{
    color: #878787;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 9px;
    text-transform: uppercase;
}
.content-links{
    line-height: 2;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    display: block;
    font-weight: 400;
    font-size: 12px;
    text-decoration: none;
    border: none;
    outline: none;
    text-transform: capitalize;
}
a:hover{
    text-decoration: underline;
}
.addrs{
    line-height: 2;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 0;
    display: block;
    text-transform: capitalize;

}
.telephone{
    color: #2874f0;
    text-decoration: none;
}