<div *ngIf="images && images.length > 0" class="carousel-container">
    <img *ngFor="let image of images; let i=index " 
        [src]="image.imageSrc" [alt]="image.imageAlt"
        [ngClass]="{'image-active': selectedIndex === i}"
    >
    <div *ngIf="indicators" class="carousel-dot-container">
        <span *ngFor="let dot of images; let i = index" 
            class="dot"
            [ngClass]="{'active': selectedIndex === i}"
            (click)="selectImage(i)"
        >
        </span>
    </div>
    <button *ngIf="controls" class="btn-carousel btn-prev">
        <mat-icon fontIcon="arrow_circle_left" class="text-white icon-carousel icon-prev"
            (click)="onPrevClick()"
        ></mat-icon>    
    </button>
    <button *ngIf="controls" class="btn-carousel btn-next">
        <mat-icon fontIcon="arrow_circle_right" class="text-white icon-carousel icon-next"
            (click)="onNextClick()"
        ></mat-icon>    
    </button>
</div>

